@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&display=swap');

*{
    box-sizing: border-box;
    height: 100%;
    margin: 0;
}
body{
    background-color: #222;
    font-family: "Big Shoulders Stencil", sans-serif;
}
.heading{
   
    max-height: fit-content;
    height: fit-content;
}
.height{
    display: flex;
    justify-content: space-between;
    height: fit-content;
}
.heading .again{
    background-color: #fff;
    height: 40px;
    margin: 10px;
    padding: 5px 25px;
    width: 10em;
    font-family: "Press Start 2P", system-ui;
    font-size: 1em;
    font-weight: 800;
    letter-spacing: 1.5px;
    transition: 1s;
}
.heading p{
    color: #fff;
    font-weight: 700;
    margin-right:30px;
    margin-top: 10px;
    letter-spacing: 1px;
    word-spacing: 10px;
}
.title{
    height: fit-content;
}
.title h1{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
    max-height: fit-content;
    height: max-content;
    letter-spacing: 2px;
    word-spacing: 15px;
    font-size: 2em;
    font-weight: 900;
    font-family: "Press Start 2P", system-ui;
    text-shadow: 2px 2px 5px #eee4e4;
}
.logo {
    display: grid;
    grid-template-columns: 8fr 1fr 8fr;
    align-items: center;
    height: max-content;
    width: 100%;
    margin-top: 50px;
}
.gross{
    display: inline-block;
    text-align: center;
    align-content: center;
    width: 100px;
    height: 90px;
    margin: 0 1px;
    background-color: #fff;
    font-size: 50px;
    font-family: "Press Start 2P", system-ui;
    font-weight: 600;
}
.span{
    height: 5px;
    margin-right: 0;
    background-color: #fff;
}
.body{
    display: grid;
grid-template-columns: 1fr 1fr;
    color: #fff;
    height: 400px;
    margin-top: 20px;
    text-align: center;
    align-items: center;
}
.box1, .box2{
    height: fit-content;
    display: grid;
    grid-template-rows: 2fr 1fr;
    row-gap: 5px;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.box1 button{
    width: fit-content;
    height: fit-content;
    background-color: #fff;
    margin-left: 70px;
    color: black;
    letter-spacing: 1px;
    padding: 8px 20px;
    font-weight: 700;
    font-family: "Press Start 2P", system-ui;
    transition: 1s;
    cursor: pointer;
}
.btn:hover{
    background-color: #eeeeeede;
}
.box1 input{
    display: inline-block;
    color: #fff;
    font-size: 45px;
    font-weight: 800;
    text-align: center;
    width: 250px;
    height: 100px;
    border: 3px solid #fff;
    background-color: black;
    margin-bottom: 10px;
}
.box2{
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 1px;

}
.box2 p:nth-child(2){
    margin-top: 15px;
}
.box2 p{
    text-align: start;
}
.reload{
    display: none;
}
@media (max-width:450px){
    .height{
        display: block;
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
        justify-content: center;
        height: fit-content;
    }
    .title h1{
        letter-spacing: 1px;
        word-spacing: 2px;
        font-size: 1.2em;
        text-align: center;
    }
    .box1 input{
        display: inline-block;
        color: #fff;
        font-size: 45px;
        font-weight: 800;
        text-align: center;
        width: 200px;
    }
    .box1, .box2{
        height: fit-content;
        width: fit-content;
        display: grid;
        grid-template-rows: 2fr 1fr;
        row-gap: 5px;
        text-align: center;
        margin: auto;
        
    }
    .box1{
        margin-bottom: 30px;
    }
    .box1 button{
        width: fit-content;
        height: fit-content;
        background-color: #fff;
        margin: auto;
        color: black;
        letter-spacing: 1px;
        padding: 8px 10px;
        
    }
    .box2 p:nth-child(2){
        margin-top: 2px;
    }
    .body{
        display: inline-block;
        color: #fff;
        max-height: 500px;
        margin: 20px 0;
        width: 100%;
        align-content: center;
    }
}